html, body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

#container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  /*overflow: hidden;*/
  background-color: #cacaca;//#383535;//black;//#A9A9A9;
}

#container canvas, #breachedMSG {
  position: absolute;
}

canvas{
  z-index: 1;
}

.invisible{
  display: none !important;
}

.seriesContainer{
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

.content{
  min-height: 100%;
  width: 98%;
  height: max-content;
  /* position: absolute;
  margin-left: 5.5rem; */
}

.seriesContainer.loaded{
  opacity: 1;
}

.contentContainer{
  display: flex;
  height: max-content;
}

.mobile .content{
    width: 92% !important;
    //margin-left: 9rem !important;
}

.Menu{
  background-color: #0c0101;
    font-family: Audiowide;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 100;
    min-height: 100%;
}

.MenuItem{
  overflow: hidden;
  color: #656565;//#8f100b;
  background-color: black;
  z-index: 100;
  font-size: 24px;
  margin-top: 7rem;
  vertical-align: top;
  text-orientation: upright;
  writing-mode: tb-rl;
}

.mobile .MenuItem{
  font-size: 50px !important;
}

.MenuItem:hover {
  cursor: pointer;
}

.breachedDialog{
  padding: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
  overflow: hidden;
  color: #EE4B2B;
  background-color: black;
  z-index: 100;
  left: 0;
  right: 0;
  font-size: 35px;
  font-family: Audiowide;
  text-align: center;
  width: 40rem;
}


/*HOME*/
.HomeHeader{
  color: #EE4B2B;
  text-align: center;
  font-family: Audiowide;
  z-index: 100;
}

.HomeSpotlightContainer{
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3rem;
  //box-shadow: 5px 5px 5px;
  border-style: solid;
  border-width: 2px;
  z-index: 100;
}

.HomeBlogContainer{
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3rem;
  //box-shadow: 5px 5px 5px;
  border-style: solid;
  border-width: 2px;
  //height: 75%;
  height: 850px;
  overflow-y: scroll;
  position: absolute;
  z-index: 100;
}

.HomeSection{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding-top: 3rem;
  height: 100%;
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  //height: 55%;
  object-fit: contain;
}

.spotlightText{
  font-size: 20px;
  padding: 10px;
}

.blogHeadline{
  font-size: 24px;
  color: #EE4B2B;
  font-family: Audiowide;
}

.blogText{
  font-size: 20px;
  padding: 10px;
}


/*CONTACT*/
.impressumSection {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 14px;
  font-size: 29px;
  width: 57px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.socialMediaItems {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 100;
}

/*ARTIST*/

.artistMailLink{
  font-size: 26px;
}

.mobile .artistMailLink{
  font-size: 40px;
}

.artistContactHeader{
    font-size: 40px;
    color: #656565;//#8f100b;
    font-family: Audiowide;
}

.artistImpressumHeader{
    font-size: 40px;
    color: #656565;//#8f100b;
    font-family: Audiowide;
    margin-top: 4rem;
}

.artistImpressumText{
  font-size: 26px;
}

.mobile .artistImpressumText{
  font-size: 40px !important;
}

.artistImg{
    margin: 10rem;
    height: 450px;
}

.mobile .artistImg{
    z-index: 100;
}

.artistContent{
  display: flex;
  flex-direction: column;
}

.artistContact{
  z-index: 100;
    margin-top: 5rem;
}

.mobile .artistContact{
  backdrop-filter: blur(10px);
}

.artistHeader{
    font-size: 55px;
    color: #656565;//#8f100b;//#EE4B2B;
    text-align: center;
    margin-top: 5rem;
    font-family: Audiowide;
    z-index: 100;
}

.mobile .artistHeader,.artistContactHeader,.artistImpressumHeader{
    font-size: 55px !important;
}

.mobile .artistContactHeader,.artistImpressumHeader{
    margin-top: 10rem;
}

/*ART*/

.ArtSeriesHeader{
    font-size: 55px;
    color: #656565;//#8f100b;//#EE4B2B;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Audiowide;
    z-index: 100;
}

.seriesContainer{
  background-color: #cacaca;//#383535;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;//space-between;
}

.seriesDetailImgContainer{
  background-color: #cacaca;//#383535;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;//space-between;
}

.seriesImg{
    height: 500px;
}

.mobile .seriesImg{
    height: 700px !important;
}

.artworkImg{
  height: 500px;
}

.mobile .artWorkImg{
  height: 90% !important;
}

.AtworkName{
    font-size: 30px;
    color: #656565;//#8f100b;//#EE4B2B;
    font-family: Audiowide;
    margin-bottom: 1.5rem;
}

.AtworkName:hover{
  cursor: pointer;
}

.mobile .AtworkName{
  font-size: 60px !important;
}

.seriesItemHeader{
    font-size: 30px;
    color: #656565;//#8f100b;//#EE4B2B;
    font-family: Audiowide;
    //margin-bottom: 1.5rem;
    border-bottom: 2px #656565;//#8f100b solid;
    width: 100%;
    text-align: center;
}

.mobile .seriesItemHeader{
  font-size: 50px !important;
  background-color: black;
  width: 700px;
}

.seriesItemContent{
  height: 546px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  z-index: 100;
  background-color: black !important;
}

.mobile .seriesItemContent{
  height: 720px !important;
  width: 100% !important;
  margin-bottom: 10rem !important;
  background-color: inherit !important;
}

.ImgItemContainer{
  height: 550px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  z-index: 100;
}

.ImgItemContainer:hover{
  cursor: pointer;
}

.mobile .ImgItemContainer{
  height: 800px !important;
  width: 100% !important;
}

.seriesItemContent:hover {
  cursor: pointer;
}

.seriesDetailHeader {
    font-size: 30px;
    color: #656565;//#8f100b;//#EE4B2B;
    font-family: Audiowide;
    margin: 1.5rem;
    z-index: 100;
}

.mobile .seriesDetailHeader{
  font-size: 60px !important;
}

.seriesDetailDescription {
    font-size: 24px;
    font-family: Audiowide;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #656565;//#8f100b;
    padding-left: 4.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-right: 10rem;
    z-index: 100;
    color: #c3bdbd;//#656565;//#8f100b;//#EE4B2B;
}

.mobile .seriesDetailDescription{
  font-size: 35px !important;
    padding-left: 3rem !important;
}

.seriesDetailContainer {
  background-color: black;
}

.artDialogTitle{
    font-size: 45px;
    color: #656565;//#8f100b;//#EE4B2B;
    font-family: Audiowide;
    text-align: center;
}

/* .mobile .artDialogTitle{
  font-size: 45px !important;
} */

.artDialogText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
        color: #3e3b3b;
        font-size: 20px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  background-color: black;
  border-color: #656565;//#8f100b;
  border-width: 2px;
}

.seriesDetailHeaderContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  padding-left: 3rem;
}

.mobile .seriesDetailHeaderContent{
  padding-left: 2rem !important;
}

.btn{
  font-size: 22px;
}

.btnBack{
    margin-left: 1.5rem;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
	text-align: right;
  z-index: 100;
  color: #656565;//#8f100b;
  border-color: #656565;//#8f100b;
  border-width: 2px;
  background-color: black;
  border-radius: 50%;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.mobile .btnBack{
    font-size: 40px !important;
}

.btnBack:hover{
  background-color: #656565;//#8f100b;
  color: black;
  border-color: black;
}

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

/*
    width: 35%;
    position: fixed;
    top: 5%;
    left: 33%;
*/

.artistText{
  width: 40%;
  font-size: 20px;
  z-index:100;
  color:#656565;
  backdrop-filter: blur(10px);
}

.mobile .artistText{
  width: 80% !important;
  font-size: 40px !important;
  backdrop-filter: blur(10px);
}

.artistContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;//#383535;
    flex-direction: column;
}

.mobile .artistContainer{
    flex-direction: column !important;
}

/*---------------------------------------------------*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  /*height: 80%;*/
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.artDialogButtonContainer{
  display: flex;
  flex-direction: column;
}

.modal-header .close {
    margin-top: -15px;
    color: white;
    font-size: 40px;
    opacity: 0.7;
}

.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
  animation-duration:0.6s;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}
